.about {
    &__introduction {
        &__wrap {
            margin: 0 auto;
            padding-bottom: 48px;
            width: 80%;

            @include device(desktop) {
                max-width: 1366px;
                padding-bottom: 126px;
                width: 90%;
            }
        }
        
        h2  {
            @include font-size (30px);
            font-weight: normal;
            opacity: .75;

            @include device(desktop) {
                @include font-size (36px);
            }
        }

        h4 {
            @include font-size (14px);
            font-weight: normal;
            opacity: .75;

            @include device(desktop) {
                @include font-size (16px);
            }
        }

        &__title {
            font-weight: normal;
            margin: 57px 0 33px;
            text-align: center;

            @include device(desktop) {
                margin: 48px 0 112px;
            }
        }

        &__content {
            @include device(desktop) {
                display: flex;
                justify-content: space-between;
            }

            &__image {
                margin-bottom: 48px;
                text-align: center;

                @include device(desktop) {
                    display: flex;
                    align-items: center;
                    margin-bottom: unset;
                    width: 45%;
                }

                img { 
                    width: 100%; 
                }   
            }

            &__text {
                @include font-size (14px);
                opacity: .75;
                line-height: 2;

                @include device(desktop) {
                    @include font-size (16px);
                    width: 50%;
                }

                &-first {
                    margin-bottom: 50px;

                    @include device(desktop) {
                        margin-bottom: 70px;
                    }
                }
            }
        }
    }

    &__career {
        &__wrap {
            margin: 0 auto;
            width: 80%;

            @include device(desktop) {
                max-width: 1366px;
                width: 90%;
            }
        }

        &__title {
            font-weight: normal;
            margin-bottom: 48px;
            opacity: .75;
            text-align: center;

            @include device(desktop) {
                margin-bottom: 100px;
            }
            h2  {
                @include font-size (30px);
                font-weight: normal;
                opacity: .75;
        
                @include device(desktop) {
                    @include font-size (36px);
                }
            }
        
            h4 {
                @include font-size (14px);
                font-weight: normal;
                opacity: .75;
        
                @include device(desktop) {
                    @include font-size (16px);
                }
            }
        }

        &__list {
            @include font-size (14px);
            line-height: 2;
            opacity: .75;

            @include device(desktop) {
                @include font-size (16px);
            }

            li {
                margin-bottom: 32px;
                @include device(desktop) {
                    display: flex;
                    margin-bottom: unset;
                }
            }

            li:nth-child(1) .about__career__list__content {
                @include device(desktop) {
                    padding-top: 50px;
                }
            }
            &__year-sp {
                font-weight: 600;
                margin-bottom: 18px;

                @include device(desktop) {
                    display: none;
                }
            }

            &__year-pc {
                display: none;
                @include device(desktop) {
                    display: flex;
                    align-items: flex-start;
                    margin-right: 24px;
                    width: 60px;
                }
            }
            &__content {
                margin-top: unset;

                @include device(desktop) {
                    border-left: 1px rgba(0,0,0,0.75) solid;
                    position: relative;
                    padding-left: 65px;
                    padding-bottom: 50px;
                    width: 75%;
                }
            }

            &__content:before {
                @include device(desktop) {
                    content: '';
                    background: #fca4a2;
                    border-radius: 100%;
                    left: -8px;
                    position: absolute;
                    top: 8px;
                    height: 16px;
                    width: 16px;
                }
              }

            li:nth-child(1) .about__career__list__content:before {
                @include device(desktop)  {
                    top: 58px;
                }
            }
        }
    }

    &__skill {
        &__wrap {
            margin: 0 auto;
            padding: 78px 0 115px;
            width: 80%;
           
            @include device(desktop) {
                max-width: 1366px;
                padding: 195px 0 217px;
                width: 90%;
            }
        }

        h2 {
            @include font-size (30px);
            font-weight: normal;
            opacity: .75;
            text-align: center;

            @include device(desktop) {
                @include font-size (36px);
                text-align: unset;
            }
        }
        h4 {
            @include font-size (14px);
            margin-bottom: 48px;
            opacity: .75;
            text-align: center;

            @include device(desktop) {
                @include font-size (16px);
                margin-bottom: 31px;  
                text-align: unset;
            }
        }
        &__list {
            @include device(desktop) {
                display: flex;
                justify-content: space-between;
            }

            ul {
                margin-bottom: 46px;

                @include device(desktop) {
                    margin: unset;
                    padding-left: 13%;
                    width: 45%;
                }
            }

            li {
                @include font-size (14px);
                line-height: 2;
                opacity: .75;

                @include device(desktop) {
                    @include font-size (16px);
                }
            }

            li:before {
                content:  "";                
                background-color: rgba(0,0,0,0.75);  
                border-radius:  50%;          
                display:  inline-block;     
                margin-right: 5px; 
                position:  relative;       
                top: -2px;                  
                height:  5px; 
                width:  5px;    
            }

            li:nth-child(7) {
                margin-top: 40px;

                @include device(desktop) {
                    margin-top: 46px;
                }
            }

            &__image {
                @include device(desktop) {
                    display: flex;
                    align-items: center;
                    width: 50%;
                }

                img {
                    display: block;
                    margin: 0 auto;
                    width: 90%;

                    @include device(desktop) {
                        margin: unset;
                    }
                }
            }
        }
    }
}