@use 'sass:math';

@function strip-unit($number) {
  @return math.div($number, ($number * 0 + 1));
}


@function calcRem($number) {
  $number: strip-unit($number);
  $number: calc(#{$number} / 16 * 1rem);
  @return $number;
}


@mixin font-size($size) {
  font-size: $size;
  font-size: calcRem($size);
}

/**
 Usage

 p {
  @include font-size(14px)
}
**/
